<div th:replace="compartilhado/top"></div>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Usuarios</h1>
        <p class="mb-4">
           lista dos Usuarios do sistema urbana
        </p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <a href="/usuarios/novo" class="btn btn-primary" style="margin-right: 20px;">Novo</a>
                <h6 class="m-0 font-weight-bold text-primary" style="display: inline-block;">Lista de Usuarios</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Senha</th>
                                <th>Cartao</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Senha</th>
                                <th>Cartao</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr th:each="usuario : ${usuarios}">
                                <td th:text="${usuario.id}"></td>
                                <td th:text="${usuario.nome}"></td>
                                <td th:text="${usuario.email}"></td>
                                <td th:text="${usuario.senha}"></td>
                                <td th:text="${usuario.cartao}"></td>
                                <td><a th:href="@{'/usuarios/' + ${usuario.id}}" class="btn btn-warning">Alterar</td>
                                <td><a href="#" th:onclick="'if(confirm(\'Confirma ?\')) { window.location.href = \'' + @{/usuarios/{id}(id=${usuario.id})} + '/excluir\' } '" class="btn btn-danger">Excluir</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        
            </div>
            <!-- /.container-fluid -->
        <div th:replace="compartilhado/baixo"></div>
        
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
<div th:replace="compartilhado/baixo"></div>  